*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   scroll-behavior:smooth;
}
body{
       background:linear-gradient(255deg,#cdc0c2,#8c7a7d);    
}
.nav{
       
     margin:0 auto;
     padding:10px ;
}
.nav ul{
    margin-left: 1rem;
     display: flex;
    justify-content:space-between ;
}
.nav li{
      list-style-type:none ;
}
.nav a{
    right:0;
    text-decoration:none;
    color:black;
}/*
.header{
 position:fixed; 
 color:black; 
  backdrop-filter:blur(10px);
}*/
.header{width:100%;
 position:fixed; 
 color:black; 
  backdrop-filter:blur(10px);
}
.nav a:hover{
    text-decoration: underline;

}
.sever{
    padding-top: 200px;
}
.photos{
    position:fixed;
    height:20rem;
    position: relative;
   overflow:hidden; 
   padding:30px 0;
   background-color:rgb(137, 125, 126);
}
.photos::before,
.photos::after
{
    position: absolute;
    top:0;
    left:0;
    width: 250px;
    height:100%;
    background:linear-gradient(to left,rgba(255,255,255,0)rgb(212, 183, 183));
    z-index:2;
    
    content:"";

}/*
.photos::before{
    left:0;
    background:linear-gradient(to left,rgba(255,255,255,0),rgb(212, 183, 183));
}
.photos::after{
right:0;
    background:linear-gradient(to right,rgba(255,255,255,0),rgb(236, 180, 189));
    
}*/
.photos-slide{

    white-space:nowrap;
    animation:20s slide infinite linear;

}
.photos{
    height: 200px;
}
.photos .photos-slide img{
    
    height:200px;
    margin:0 30px;


}
@keyframes slide{
    from{
transform:translatex(0);
    }
    to{
transform:translatex(-100%);
    }
}

 .photos-slide:hover{
     animation-play-state:paused;
}
   .stay{
    padding-top: 12px;
    padding-left: 120px;
    font-weight:900
   }
.signup .stay{
    color:rgb(16, 12, 12);
    
}
.button{
    padding-left: 150px;
    border-radius:10px;
}
#button:hover{
    font-size:19px;
    border:2px solid rgb(82, 76, 77);
     background-color:rgb(137, 125, 126);
    color:white;
}
  .out{

    width:100%;
  }
.signup{
padding-left: 430px;
   }
.icon .b{

    display:inline;
}
.icon{
    
    display: inline;
    color:pink;
    padding-left: 150px;
}
.icon .a{
    display:flex;
    align-items: center;
    padding-left: 150px;
}
#i{
    background: rgb(212, 161, 170);
    border:rgb(212, 161, 169);
}
